@model IEnumerable<Common.DTO.DtoIntercontinental>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numeroVuelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtLlegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasTotales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroAeronaveAsignada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tasaIntercontinental)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numeroVuelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtLlegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasTotales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroAeronaveAsignada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documentacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tasaIntercontinental)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
