@model List<Common.DTO.DtoRegional>

<h2>Vuelos regionales</h2>


<p>
    @Html.ActionLink("Agregar vuelos", "AgregarVuelo", "Vuelo", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número de vuelo
            </th>
            <th>
                Origen
            </th>
            <th>
                Destino
            </th>
            <th>
                Fecha de llegada
            </th>
            <th>
                Fecha de salida
            </th>
            <th>
                Horas totales
            </th>
            <th>
                Precio
            </th>
            <th>
                Desde
            </th>
            <th>
                Hasta
            </th>
            <th>
                Documentación
            </th>
            <th>
                Tasa regional
            </th>

            <th>
                Acciones
            </th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroVuelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtLlegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasTotales)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroAeronaveAsignada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.documentacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tasaRegional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.desde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hasta)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Cancelar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </tbody>
</table>
