@model List<Common.DTO.DtoAsiento>

@{
    ViewBag.Title = "SelectAsientosV";
}

<h2>Asientos disponibles</h2>

@using (Html.BeginForm("ConfirmarAsientos", "Compra"))
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Número de asiento
                </th>
                <th>
                    Fila
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Precio
                </th>

                <th>
                    Opciones
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (Common.DTO.DtoAsiento item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroAsiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fila)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>

                    <td>
                        @Html.ActionLink("Comprar pasaje", "ComprarPasaje", "Compra", new { id = item.numeroAsiento }, new { @class = "btn btn-info" })

                    </td>
                </tr>


            }
        </tbody>

    </table>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Confirmar asientos" class="btn btn-success" />

        </div>
    </div>
}